<div>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Movie Name : {{title}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <app-movie-detail></app-movie-detail>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
    </div>
</div>