<!--The content below is only a placeholder and can be replaced.-->

<ngx-ui-loader></ngx-ui-loader>

<div class="container-fluid">
<br/>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">{{ title }}</a>
    </div>
    <ul class="nav navbar-nav">

      <li [routerLinkActive]="['active']">
        <a routerLink="/dashboard" >{{showType[0]}}</a>
        </li>

      <li [routerLinkActive]="['active']">
        <a routerLink="/tvshows">{{showType[1]}}</a>
      </li>

      <li [routerLinkActive]="['active']">
        <a routerLink="/people">{{showType[2]}}</a>
      </li>

        <li [routerLinkActive]="['active']">
          <a routerLink="/artist">{{showType[3]}}</a>
        </li>

    </ul>
  </div>
</nav>

<!-- dashboard component bind -->
<br/>
<br/>

<router-outlet></router-outlet>
</div>
