
<div class="row">
    <div class="col-lg-3" *ngFor="let people of peopleList">      
      <div class="card">
        <div *ngIf="people.profile_path">
          <img src="{{imageBaseURl}}{{people.profile_path}}" width="300px" height="350px" alt="profile">
        </div>
        <div *ngIf="people.profile_path == null">
          <img src="../../assets/img/download.png" width="300px" height="350px" alt="profile">
        </div>
        
        <p><b>{{people.name}}</b></p> 

     <!--   <p *ngFor="let known of people.known_for">
            <span>{{known.original_tile}}</span>
        </p>-->

      </div>
      <br/>
    </div>
</div>
<br/>

<hr/>
<nav aria-label="Page navigation example">
  <ul class="pagination">    
    <li class="page-item"><a class="page-link" (click)="getPeopleList(1)">1</a></li>
    <li class="page-item"><a class="page-link"  (click)="getPeopleList(2)">2</a></li>
    <li class="page-item"><a class="page-link" (click)="getPeopleList(3)">3</a></li>
    <li class="page-item"><a class="page-link" (click)="getPeopleList(4)">4</a></li>
    <li class="page-item"><a class="page-link" (click)="getPeopleList(5)">5</a></li>    
  </ul>
</nav>