
<div class="row">
    <div class="col-lg-3" *ngFor="let people of peopleList">      
      <div class="card">
        <div *ngIf="people.profile_path">
          <img src="{{imageBaseURl}}{{people.profile_path}}" width="300px" height="350px" alt="profile">
        </div>
        <div *ngIf="people.profile_path == null">
          <img src="../../assets/img/download.png" width="300px" height="350px" alt="profile">
        </div>
        
        <p><b>{{people.name}}</b></p> 

     <!--   <p *ngFor="let known of people.known_for">
            <span>{{known.original_tile}}</span>
        </p>-->

      </div>
      <br/>
    </div>
</div>
<br/>

<hr/>

<div class="row">
  <div class="col-xs-12 col-12">
    <pagination [totalItems]="100" [(ngModel)]="currentPage" (pageChanged)="getPeopleList($event)"></pagination>
  </div>
</div>
